<body>
    <div class="wrapper">
        <section class="chat">
            <header>
                <div class="content">
                    <div class="details">
                        <span>Nico's Chat Room</span>
                        <p>Online members: {{onlineUsersCount}}</p>
                    </div>
                </div>
                <a (click)="leaveChatRoom()" class="logout"><i class="fas fa-door-open"></i></a>
            </header>
            <div class="chat-area" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div *ngFor="let msg of messages;">
                    <div [ngClass]="!msg.messageIn ? 'message-container-out message-container' : 'message-container' ">
                        <p *ngIf="msg.messageIn" class="from">{{ msg.from }}, {{ msg.time }}</p>
                        <p *ngIf="!msg.messageIn" class="from from-out">You, {{ msg.time }}</p>
                        <div class="message" [ngClass]="!msg.messageIn ? 'message-out' : 'message-in' "
                            [ngStyle]="msg.from === 'admin' ? {color: 'var(--primary)', 'background-color': '#f3f2f2'} : {}">
                            <p>{{msg.data}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="genericMessages.length > 0" class="gen-chat">
                <p>{{displayChattingMessage()}}</p>
            </div>
            <form class="search" [formGroup]="messageFormModel" autocomplete="off" (ngSubmit)="onSendMessage()">
                <span class="text"></span>
                <input (focusin)="startChatting()" (focusout)="stopChatting()" type="text"
                    placeholder="Type message here ..." formControlName="message">
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
        </section>
    </div>
</body>